/* Layout and Background */

html, body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
}

/* Card */

main {
  position: relative;
  height: 560px;
  width: 346px;
  margin: auto;

  background-color: rgb(247, 199, 139);
  border-radius: 42px;
}

main::after {
  content: '';

  position: absolute;
  display: block;
  left: -20px;
  top: -20px;
  height: 600px;
  width: 386px;
  z-index: -1;

  background-color: rgb(74, 25, 21);
  border-radius: 42px;
}
