/* Layout and Background */

html, body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
}

/* Card */

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 560px;
  width: 346px;
  margin: auto;
  box-sizing: border-box;
  padding: 15px 10px 90px;

  background-color: rgb(247, 199, 139);
  border-radius: 42px;
}

main::after {
  content: '';

  position: absolute;
  display: block;
  left: -20px;
  top: -20px;
  height: 600px;
  width: 386px;
  z-index: -1;

  background-color: rgb(74, 25, 21);
  border-radius: 42px;
}

.timer {
  box-sizing: border-box;
  height: 326px;
  width: 326px;
  padding: 141px 74px 0;

  background-image: url('img/timer.png');
  background-size: 326px 326px;

  font: 0/0 a;
}

  .timer.progress {
    /*transform: rotate(360deg);*/
    /*transition: transform 2600ms linear;*/
  }

.timer .ticks {
  height: 51px;
  width: 178px;

  background-image: url('img/ticks.png');
  background-position-x: -89px;
  background-size: 356px 51px;
}

  .timer.progress .ticks {
    background-position-x: 267px;
    transition: background-position 2600ms linear;
  }

h1 {
  height: 40px;
  width: 326px;
  margin: 0;

  background-image: url('img/title.png');
  background-size: 326px 40px;

  font: 0/0 a;
}

button {
  height: 70px;

  background-color: transparent;
  border: 1px solid rgb(74, 25, 21);
  border-radius: 10px;
  color: rgb(74, 25, 21);
  cursor: pointer;
  outline: none;

  font-family: 'Times New Roman', serif;
  font-size: 20px;
  line-height: 70px;
}

button:active {
  background-color: rgb(132, 88, 51);
  color: white;
}
